.layout {
  margin: 0;
  height: 100vh;
  display: flex;
}

.container {
  background: linear-gradient(
    180deg,
    rgba(215, 199, 244, 0.2) 0%,
    rgba(151, 133, 186, 0.2) 100%
  );
  width: 80%;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 40vh;
  width: 100%;
}
header h1 {
  color: #9785ba;
}

h1 {
  font-size: x-large;
  font-weight: 600;
}
.requirement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.OptionGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  grid-template-rows: repeat(2, auto); /* 2 rows */
  gap: 16px; /* space between cards */
}
.OptionCard {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
}
.BotLogo {
  height: 65px;
  width: 65px;
}



.Input{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}
.Input input{
    height: 41px;
    width: 85%;
    background-color: #ffffff;
    border: 1px solid #9785ba;
    padding: 8px;
    border-radius: 6px;
}
.btn{
    background-color: #9785ba;
    width: 100px;
    border-radius: 6px;
    font-weight: 600;
}


@media(max-width:800px){
  .container {
  background: linear-gradient(
    180deg,
    rgba(215, 199, 244, 0.2) 0%,
    rgba(151, 133, 186, 0.2) 100%
  );
  width: 100%;
  padding: 20px;
}
}